<<<<<<< HEAD
#page {
    display:grid;
    width: 100%;
    grid-template-areas: "header           header"
                         "user-selection retrieved-content"
                         "footer         footer";
}
#header {
    display: grid;
    grid-area: header;
    background-color: blue;
    grid-template-rows: minmax(100px, 2fr);

}

#user-selection {
    display: grid;
    grid-area: user-selection;
    /* grid-template-rows: repeat(1fr); */

    padding-top: 20px;
    background-color: gray;

}

.selection-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: minmax(1fr, 100px); */
    max-height: 50px;

    padding-left: 20px;
    margin: 15px;
    border: 3px solid black;
    border-radius: 5px;
}

.selection-item:hover {

}

.selection-item:active {
    transform: scale(1.1);
    box-shadow: 5px 5px;
}

.selection-icon {
    grid-column: span 1;
}

.selection-text {
grid-column: 2 / span 4;
}


#retrieved-content {
    display: grid;
    grid-area: retrieved-content;
    grid-template-rows: minmax(400px, 2fr) 3fr;
    background-color: indigo;

}
#footer {
    display: grid;
    grid-area: footer;
    grid-template-rows: minmax(75px, 1fr);
    background-color: yellow;
=======
:root {
    --background:#6f82fc;
    --title: pink;
    --accent:#FCD656;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.hero-body {
    background-color: var(--background);
}

.hero-body h1 {
    font-size: 78px;
    color: var(--title);
}

.hero-body h2 {
    color: var(--accent);
}

.tile {
    background-color: var(--background);
}

.title {
    color: var(--title);
}

.subtitle {
    color: var(--accent);
}

.content {
    color: var(--accent);
}

@media screen and (max-width: 980px) {

    .hero-body h1 {
        font-size: 48px;
    }
>>>>>>> 92314333d0a77acf7404d5e22317c3aebc4907fd
}